.alt-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px var(--horizontal-space) var(--horizontal-space);
}

.alt-header__column {
    margin-bottom: 15px;
    width: 33%;
}

.alt-header__column:first-child {
    margin-right: auto;

}

.alt-header__column:nth-child(2) {
    text-align: center;
}

.alt-header__column:last-child {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.alt-header__title {
    font-size: 22px;
}

.alt-header__column:last-child i{
    margin-left: 20px;
}