.only-mobile {
    position: absolute;
    z-index: 99;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--yellow);
}

@media screen and (max-width: 600px) {
    .only-mobile{
    display: none;
    }
}