.status-bar {
    width: 100%;
    display: flex;
    padding: 5px;
    top: 0;
}
.status-bar__column {
    width: 50%;
}
.status-bar__column:first-child span{
    margin-right: 5px;
}
.status-bar__column:nth-child(2) {
    display: flex;
    justify-content: center;
}
.status-bar__column:last-child {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}
.status-bar__column .fa-battery-three-quarters {
    margin: 0px 5px;
}